In [1]:
import pandas as pd 
"""
Scheme of work the function ''University_programs()'' return the programs that correspond to each university, and ''top_programs()'' return the top of this program in the country.... 
"""
"""
The next step is store who are the better programs to run table 1...
"""

def University_programs(df:pd.DataFrame, university:str, var_institution:str,var_program_name:str ) -> list :
    df_ = df.copy()
    df_ = df[df[var_institution]==university]
    programs = [x for x in df_[var_program_name].unique() ]
    return programs

def top_programs(df:pd.DataFrame, var_institution: str, var_program_name:str, var_filter: str, field: str,  k:int, university:str) -> pd.DataFrame:
    data = df.copy()
    data = data[data[var_program_name]==var_filter]
    gp = data.groupby(by=[var_institution])
    data[field+' mean']= gp[field].transform('mean')
    data['number of students'] = gp[field].transform('count')
    data.drop_duplicates(subset=var_institution, inplace=True)
    data.sort_values(by=[field+' mean'], ascending=False, inplace=True)
    data =  data[[var_institution,var_program_name,field+' mean']].reset_index(drop=True)
    ranking = data.copy()
    data = data[0:k+1]
    N = ranking.shape[0]
    mean_total = ranking[field+ ' mean'].mean()
    for i in ranking.index:
        if ranking.loc[i,var_institution]==university:
            position = i
    if position > k:
        row = ranking[ranking[var_institution]==university]
        data= data.append(row)
        data = data.append({var_institution:'Total, number and mean',var_program_name:f'{N} programs',  field + ' mean':mean_total} ,ignore_index=True)
        data.rename({data.index[-1]: 'All'}, inplace=True)
        return data
    else:
        data = data.append({var_institution:'Total, number and mean',var_program_name:f'{N} programs',  field + ' mean':mean_total} ,ignore_index=True)
        data.rename({data.index[-1]: 'All'}, inplace=True)
        return data

In [2]:
# Analysis of functions
# We need a function that take the top 5 universities in the country and select as reference...
# after take percentiles, and compare the number of individuals in each percentile.
## Information ids, and variables:
"""
INST_COD_INSTITUCION --- código institución
INST_NOMBRE_INSTITUCION --- Nómbre de IES
ESTU_PRGM_ACADEMICO -- Nombre del programa académico
ESTU_SNIES_PRGMACADEMICO -- Código SNIES del programa académico
GRUPOREFERENCIA -- grupo de referencia.
MOD_RAZONA_CUANTITAT_PUNT --- rango de 0 a 300
"""

'\nINST_COD_INSTITUCION --- código institución\nINST_NOMBRE_INSTITUCION --- Nómbre de IES\nESTU_PRGM_ACADEMICO -- Nombre del programa académico\nESTU_SNIES_PRGMACADEMICO -- Código SNIES del programa académico\nGRUPOREFERENCIA -- grupo de referencia.\nMOD_RAZONA_CUANTITAT_PUNT --- rango de 0 a 300\n'

In [3]:
def main():
    ##### Defining globals variables to execution of program.
    var_institution = 'INST_NOMBRE_INSTITUCION'
    var_program_name = 'ESTU_PRGM_ACADEMICO'
    field = 'MOD_RAZONA_CUANTITAT_PUNT'  # test name
    k = 5 # number of program to top
    df = df = pd.read_csv('Genericas2020.txt', sep='¬', encoding='utf8', quotechar="'")
    Universities = ['UNIVERSIDAD CENTRAL-BOGOTÁ D.C.', 'UNIVERSIDAD SURCOLOMBIANA-NEIVA']
    for university in Universities:
        print(university)
        for program in University_programs(df, university, var_institution, var_program_name):
            print(program)
            table = top_programs(df, var_program_name=var_program_name, var_filter=program, field=field, var_institution=var_institution, k=k, university=university)
            display(table)
main()

<ipython-input-3-288529cdc0ec>:7: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df = df = pd.read_csv('Genericas2020.txt', sep='¬', encoding='utf8', quotechar="'")

UNIVERSIDAD CENTRAL-BOGOTÁ D.C.
INGENIERIA ELECTRONICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,INGENIERIA ELECTRONICA,210.708333
1,UNIVERSIDAD DEL VALLE-CALI,INGENIERIA ELECTRONICA,209.333333
2,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,INGENIERIA ELECTRONICA,208.754717
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,INGENIERIA ELECTRONICA,202.864865
4,UNIVERSIDAD CATOLICA DE ORIENTE-RIONEGRO,INGENIERIA ELECTRONICA,202.666667
5,UNIVERSIDAD AUTONOMA DE MANIZALES-MANIZALES,INGENIERIA ELECTRONICA,202.571429
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,INGENIERIA ELECTRONICA,174.910714
All,"Total, number and mean",64 programs,171.431275

ADMINISTRACION DE EMPRESAS

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,ADMINISTRACION DE EMPRESAS,190.329670
1,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,ADMINISTRACION DE EMPRESAS,189.061856
2,COLEGIO DE ESTUDIOS SUPERIORES DE ADMINISTRACI...,ADMINISTRACION DE EMPRESAS,185.099099
3,UNIVERSIDAD DEL CAUCA-POPAYAN,ADMINISTRACION DE EMPRESAS,179.285714
4,"ESCUELA COLOMBIANA DE INGENIERIA""JULIO GARAVIT...",ADMINISTRACION DE EMPRESAS,176.416667
5,UNIVERSIDAD PONTIFICIA BOLIVARIANA-BUCARAMANGA,ADMINISTRACION DE EMPRESAS,174.160000
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,ADMINISTRACION DE EMPRESAS,149.494737
All,"Total, number and mean",141 programs,145.675880

DERECHO

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,DERECHO,183.553719
1,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,DERECHO,177.590909
2,UNIVERSIDAD EAFIT--MEDELLIN,DERECHO,175.688525
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,DERECHO,175.459459
4,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,DERECHO,174.774775
5,UNIVERSIDAD DE CALDAS-MANIZALES,DERECHO,170.968750
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,DERECHO,150.153846
All,"Total, number and mean",123 programs,144.740264

MERCADOLOGIA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,MERCADOLOGIA,148.628571
All,"Total, number and mean",1 programs,148.628571

CONTADURIA PUBLICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,CONTADURIA PUBLICA,188.851852
1,UNIVERSIDAD DEL CAUCA-POPAYAN,CONTADURIA PUBLICA,179.875000
2,PONTIFICIA UNIVERSIDAD JAVERIANA-CALI,CONTADURIA PUBLICA,178.185185
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,CONTADURIA PUBLICA,176.629032
4,UNIVERSIDAD EAFIT--MEDELLIN,CONTADURIA PUBLICA,174.689655
5,UNIVERSIDAD DE ANTIOQUIA-CARMEN DE VIBORAL,CONTADURIA PUBLICA,173.448276
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,CONTADURIA PUBLICA,161.479798
All,"Total, number and mean",124 programs,148.921140

CREACION LITERARIA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,CREACION LITERARIA,147.388889
All,"Total, number and mean",1 programs,147.388889

INGENIERIA AMBIENTAL

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,INGENIERIA AMBIENTAL,196.267606
1,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,INGENIERIA AMBIENTAL,195.183333
2,UNIVERSIDAD EIA-MEDELLIN,INGENIERIA AMBIENTAL,191.428571
3,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",INGENIERIA AMBIENTAL,188.443299
4,UNIVERSIDAD PEDAGOGICA Y TECNOLOGICA DE COLOMB...,INGENIERIA AMBIENTAL,188.326087
5,UNIVERSIDAD CATOLICA DE ORIENTE-RIONEGRO,INGENIERIA AMBIENTAL,179.384615
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,INGENIERIA AMBIENTAL,157.909910
All,"Total, number and mean",49 programs,161.078469

INGENIERIA DE SISTEMAS

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,PONTIFICIA UNIVERSIDAD JAVERIANA-BOGOTÁ D.C.,INGENIERIA DE SISTEMAS,199.126984
1,UNIVERSIDAD ICESI-CALI,INGENIERIA DE SISTEMAS,194.639344
2,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",INGENIERIA DE SISTEMAS,189.082192
3,UNIVERSIDAD CATOLICA DE ORIENTE-RIONEGRO,INGENIERIA DE SISTEMAS,189.076923
4,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,INGENIERIA DE SISTEMAS,189.040541
5,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,INGENIERIA DE SISTEMAS,188.080000
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,INGENIERIA DE SISTEMAS,168.040000
All,"Total, number and mean",104 programs,159.517373

PUBLICIDAD

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD PONTIFICIA BOLIVARIANA-MEDELLIN,PUBLICIDAD,158.680851
1,"FUNDACION UNIVERSIDAD DE BOGOTA""JORGE TADEO LO...",PUBLICIDAD,154.494737
2,INSTITUCION UNIVERSITARIA LATINA - UNILATINA-B...,PUBLICIDAD,154.086957
3,UNIVERSITARIA VIRTUAL INTERNACIONAL-BOGOTÁ D.C.,PUBLICIDAD,152.266667
4,FUNDACION DE EDUCACION SUPERIOR SAN JOSE -FESS...,PUBLICIDAD,149.500000
5,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,PUBLICIDAD,148.160870
All,"Total, number and mean",15 programs,145.136454

COMUNICACION SOCIALY PERIODISMO

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,COMUNICACION SOCIALY PERIODISMO,144.177866
All,"Total, number and mean",1 programs,144.177866

INGENIERIA MECANICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,INGENIERIA MECANICA,213.474227
1,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,INGENIERIA MECANICA,211.585366
2,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,INGENIERIA MECANICA,210.580247
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,INGENIERIA MECANICA,203.702703
4,UNIVERSIDAD DEL NORTE-BARRANQUILLA,INGENIERIA MECANICA,198.972973
5,UNIVERSIDAD DEL VALLE-CALI,INGENIERIA MECANICA,197.944444
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,INGENIERIA MECANICA,176.607843
All,"Total, number and mean",37 programs,178.183380

INGENIERIA INDUSTRIAL

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,INGENIERIA INDUSTRIAL,205.582090
1,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,INGENIERIA INDUSTRIAL,203.073034
2,"UNIVERSIDAD DISTRITAL""FRANCISCO JOSE DE CALDAS...",INGENIERIA INDUSTRIAL,201.888889
3,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,INGENIERIA INDUSTRIAL,200.140000
4,UNIVERSIDAD EIA-MEDELLIN,INGENIERIA INDUSTRIAL,197.000000
5,PONTIFICIA UNIVERSIDAD JAVERIANA-BOGOTÁ D.C.,INGENIERIA INDUSTRIAL,196.170588
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,INGENIERIA INDUSTRIAL,167.352941
All,"Total, number and mean",97 programs,163.690571

ECONOMIA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,ECONOMIA,200.801587
1,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,ECONOMIA,200.573529
2,COLEGIO MAYOR DE NUESTRA SEÑORA DEL ROSARIO-BO...,ECONOMIA,195.414286
3,UNIVERSIDAD ICESI-CALI,ECONOMIA,190.666667
4,UNIVERSIDAD DEL NORTE-BARRANQUILLA,ECONOMIA,186.250000
5,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,ECONOMIA,186.130435
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,ECONOMIA,164.333333
All,"Total, number and mean",65 programs,166.529207

BIOLOGÍA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,COLEGIO MAYOR DE NUESTRA SEÑORA DEL ROSARIO-BO...,BIOLOGÍA,187.500000
1,PONTIFICIA UNIVERSIDAD JAVERIANA-CALI,BIOLOGÍA,179.046512
2,UNIVERSIDAD DE LA SALLE-BOGOTÁ D.C.,BIOLOGÍA,171.379310
3,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,BIOLOGÍA,160.250000
4,UNIVERSIDAD DE CARTAGENA-CARTAGENA,BIOLOGÍA,155.105263
5,"UNIVERSIDAD TECNOLOGICA DEL CHOCO""DIEGO LUIS C...",BIOLOGÍA,116.416667
All,"Total, number and mean",6 programs,161.616292

CINE

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,CINE,136.6
All,"Total, number and mean",1 programs,136.6

ESTUDIOS MUSICALES

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,PONTIFICIA UNIVERSIDAD JAVERIANA-BOGOTÁ D.C.,ESTUDIOS MUSICALES,167.0
1,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,ESTUDIOS MUSICALES,153.0
All,"Total, number and mean",2 programs,160.0

ARTE DRAMATICO

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD EL BOSQUE-BOGOTÁ D.C.,ARTE DRAMATICO,157.406250
1,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,ARTE DRAMATICO,150.333333
2,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,ARTE DRAMATICO,144.600000
3,UNIVERSIDAD DEL ATLANTICO-BARRANQUILLA,ARTE DRAMATICO,134.695652
4,CORPORACION ESCUELA DE ARTES Y LETRAS-BOGOTÁ D.C.,ARTE DRAMATICO,127.000000
All,"Total, number and mean",5 programs,142.807047

MATEMATICAS

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,MATEMATICAS,220.777778
1,"ESCUELA COLOMBIANA DE INGENIERIA""JULIO GARAVIT...",MATEMATICAS,212.000000
2,UNIVERSIDAD DEL NORTE-BARRANQUILLA,MATEMATICAS,209.750000
3,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,MATEMATICAS,206.066667
4,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,MATEMATICAS,202.681818
5,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,MATEMATICAS,199.000000
6,UNIVERSIDAD CENTRAL-BOGOTÁ D.C.,MATEMATICAS,194.800000
All,"Total, number and mean",21 programs,189.771597

UNIVERSIDAD SURCOLOMBIANA-NEIVA
INGENIERIA AGRICOLA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,INGENIERIA AGRICOLA,202.540000
1,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,INGENIERIA AGRICOLA,191.555556
2,UNIVERSIDAD DEL VALLE-CALI,INGENIERIA AGRICOLA,179.888889
3,UNIVERSIDAD SURCOLOMBIANA-NEIVA,INGENIERIA AGRICOLA,162.659091
4,UNIVERSIDAD NACIONAL DE COLOMBIA-PALMIRA,INGENIERIA AGRICOLA,159.184211
5,UNIVERSIDAD DE SUCRE-SINCELEJO,INGENIERIA AGRICOLA,152.923077
All,"Total, number and mean",7 programs,170.548819

ADMINISTRACION DE EMPRESAS

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,ADMINISTRACION DE EMPRESAS,190.329670
1,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,ADMINISTRACION DE EMPRESAS,189.061856
2,COLEGIO DE ESTUDIOS SUPERIORES DE ADMINISTRACI...,ADMINISTRACION DE EMPRESAS,185.099099
3,UNIVERSIDAD DEL CAUCA-POPAYAN,ADMINISTRACION DE EMPRESAS,179.285714
4,"ESCUELA COLOMBIANA DE INGENIERIA""JULIO GARAVIT...",ADMINISTRACION DE EMPRESAS,176.416667
5,UNIVERSIDAD PONTIFICIA BOLIVARIANA-BUCARAMANGA,ADMINISTRACION DE EMPRESAS,174.160000
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,ADMINISTRACION DE EMPRESAS,148.546763
All,"Total, number and mean",141 programs,145.675880

LICENCIATURA EN EDUCACION INFANTIL

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD AUTONOMA DE BUCARAMANGA-UNAB-BUCAR...,LICENCIATURA EN EDUCACION INFANTIL,141.241379
1,UNIVERSIDAD PEDAGOGICA NACIONAL-BOGOTÁ D.C.,LICENCIATURA EN EDUCACION INFANTIL,140.948718
2,FUNDACION UNIVERSITARIA CAFAM-BOGOTÁ D.C.,LICENCIATURA EN EDUCACION INFANTIL,138.000000
3,UNIVERSIDAD SANTO TOMAS-BOGOTÁ D.C.,LICENCIATURA EN EDUCACION INFANTIL,135.384615
4,FUNDACION UNIVERSITARIA LUIS AMIGO FUNLAM-MEDE...,LICENCIATURA EN EDUCACION INFANTIL,135.000000
5,UNIVERSIDAD DEL ATLANTICO-BARRANQUILLA,LICENCIATURA EN EDUCACION INFANTIL,132.080460
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,LICENCIATURA EN EDUCACION INFANTIL,130.618182
All,"Total, number and mean",15 programs,127.771658

CONTADURIA PUBLICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,CONTADURIA PUBLICA,188.851852
1,UNIVERSIDAD DEL CAUCA-POPAYAN,CONTADURIA PUBLICA,179.875000
2,PONTIFICIA UNIVERSIDAD JAVERIANA-CALI,CONTADURIA PUBLICA,178.185185
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,CONTADURIA PUBLICA,176.629032
4,UNIVERSIDAD EAFIT--MEDELLIN,CONTADURIA PUBLICA,174.689655
5,UNIVERSIDAD DE ANTIOQUIA-CARMEN DE VIBORAL,CONTADURIA PUBLICA,173.448276
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,CONTADURIA PUBLICA,148.440415
All,"Total, number and mean",124 programs,148.921140

LICENCIATURA EN LENGUAS EXTRANJERAS CON ENFASIS EN INGLES

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD SURCOLOMBIANA-NEIVA,LICENCIATURA EN LENGUAS EXTRANJERAS CON ENFASI...,147.542857
All,"Total, number and mean",1 programs,147.542857

PSICOLOGIA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,PSICOLOGIA,186.795455
1,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,PSICOLOGIA,174.796610
2,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,PSICOLOGIA,173.563636
3,UNIVERSIDAD DE NARIÑO-PASTO,PSICOLOGIA,170.235294
4,PONTIFICIA UNIVERSIDAD JAVERIANA-BOGOTÁ D.C.,PSICOLOGIA,169.909574
5,UNIVERSIDAD ICESI-CALI,PSICOLOGIA,167.903226
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,PSICOLOGIA,151.976000
All,"Total, number and mean",81 programs,140.801871

ECONOMIA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,ECONOMIA,200.801587
1,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,ECONOMIA,200.573529
2,COLEGIO MAYOR DE NUESTRA SEÑORA DEL ROSARIO-BO...,ECONOMIA,195.414286
3,UNIVERSIDAD ICESI-CALI,ECONOMIA,190.666667
4,UNIVERSIDAD DEL NORTE-BARRANQUILLA,ECONOMIA,186.250000
5,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,ECONOMIA,186.130435
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,ECONOMIA,154.651163
All,"Total, number and mean",65 programs,166.529207

COMUNICACION SOCIAL Y PERIODISMO

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DEL NORTE-BARRANQUILLA,COMUNICACION SOCIAL Y PERIODISMO,146.279762
1,UNIVERSIDAD PONTIFICIA BOLIVARIANA-BUCARAMANGA,COMUNICACION SOCIAL Y PERIODISMO,144.288462
2,UNIVERSIDAD SERGIO ARBOLEDA-BOGOTÁ D.C.,COMUNICACION SOCIAL Y PERIODISMO,142.326241
3,UNIVERSIDAD DE MANIZALES-MANIZALES,COMUNICACION SOCIAL Y PERIODISMO,141.977273
4,CORPORACION UNIVERSITARIA COMFACAUCA - UNICOMF...,COMUNICACION SOCIAL Y PERIODISMO,140.714286
5,UNIVERSIDAD SURCOLOMBIANA-NEIVA,COMUNICACION SOCIAL Y PERIODISMO,138.666667
All,"Total, number and mean",9 programs,139.850421

MEDICINA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,MEDICINA,196.980488
1,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,MEDICINA,196.575221
2,UNIVERSIDAD ICESI-CALI,MEDICINA,195.922222
3,PONTIFICIA UNIVERSIDAD JAVERIANA-BOGOTÁ D.C.,MEDICINA,195.832258
4,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,MEDICINA,193.947368
5,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,MEDICINA,192.444444
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,MEDICINA,175.013514
All,"Total, number and mean",52 programs,170.681174

LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA,164.000000
1,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA,159.000000
2,UNIVERSIDAD DE SAN BUENAVENTURA-CALI,LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA,139.500000
3,UNIVERSIDAD SURCOLOMBIANA-NEIVA,LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA,136.000000
4,TECNOLOGICO DE ANTIOQUIA-MEDELLIN,LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA,134.738095
5,UNIVERSIDAD SANTO TOMAS-BOGOTÁ D.C.,LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA,131.400000
All,"Total, number and mean",6 programs,144.106349

CIENCIA POLITICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,CIENCIA POLITICA,175.128713
1,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,CIENCIA POLITICA,174.821429
2,UNIVERSIDAD ICESI-CALI,CIENCIA POLITICA,170.216216
3,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,CIENCIA POLITICA,166.142857
4,PONTIFICIA UNIVERSIDAD JAVERIANA-BOGOTÁ D.C.,CIENCIA POLITICA,161.817204
5,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,CIENCIA POLITICA,160.461538
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,CIENCIA POLITICA,144.738095
All,"Total, number and mean",11 programs,157.937546

INGENIERIA DE SOFTWARE

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD SURCOLOMBIANA-NEIVA,INGENIERIA DE SOFTWARE,178.315789
1,UNIVERSIDAD MANUELA BELTRAN-UMB--BOGOTÁ D.C.,INGENIERIA DE SOFTWARE,166.656250
2,FUNDACION UNIVERSITARIA EMPRESARIAL DE LA CAMA...,INGENIERIA DE SOFTWARE,163.000000
3,ESCUELA DE ADMINISTRACION Y MERCADOTECNIA DEL ...,INGENIERIA DE SOFTWARE,144.000000
4,UNIVERSIDAD DE CARTAGENA-CARTAGENA,INGENIERIA DE SOFTWARE,141.642857
All,"Total, number and mean",5 programs,158.722979

DERECHO

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,DERECHO,183.553719
1,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,DERECHO,177.590909
2,UNIVERSIDAD EAFIT--MEDELLIN,DERECHO,175.688525
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,DERECHO,175.459459
4,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,DERECHO,174.774775
5,UNIVERSIDAD DE CALDAS-MANIZALES,DERECHO,170.968750
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,DERECHO,158.487654
All,"Total, number and mean",123 programs,144.740264

LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION AMBIENTAL

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD SURCOLOMBIANA-NEIVA,LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION...,158.700000
1,UNIVERSIDAD PEDAGOGICA Y TECNOLOGICA DE COLOMB...,LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION...,149.687500
2,UNIVERSIDAD DE CIENCIAS APLICADAS Y AMBIENTALE...,LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION...,141.375000
3,UNIVERSIDAD DEL TOLIMA-IBAGUE,LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION...,141.174863
4,UNIVERSIDAD CATOLICA DE MANIZALES-MANIZALES,LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION...,130.375000
5,UNIVERSIDAD POPULAR DEL CESAR-VALLEDUPAR,LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION...,125.195652
All,"Total, number and mean",7 programs,138.572574

LICENCIATURA EN EDUCACION ARTISTICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE PAMPLONA-PAMPLONA,LICENCIATURA EN EDUCACION ARTISTICA,141.428571
1,UNIVERSIDAD DE SAN BUENAVENTURA-MEDELLIN,LICENCIATURA EN EDUCACION ARTISTICA,137.833333
2,UNIVERSIDAD DEL TOLIMA-IBAGUE,LICENCIATURA EN EDUCACION ARTISTICA,137.132353
3,UNIVERSIDAD DEL ATLANTICO-BARRANQUILLA,LICENCIATURA EN EDUCACION ARTISTICA,136.636364
4,UNIVERSIDAD SURCOLOMBIANA-NEIVA,LICENCIATURA EN EDUCACION ARTISTICA,130.040000
All,"Total, number and mean",5 programs,136.614124

INGENIERIA DE PETROLEOS

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,INGENIERIA DE PETROLEOS,218.793103
1,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,INGENIERIA DE PETROLEOS,190.252427
2,UNIVERSIDAD SURCOLOMBIANA-NEIVA,INGENIERIA DE PETROLEOS,180.743590
3,FUNDACION UNIVERSIDAD DE AMERICA-BOGOTÁ D.C.,INGENIERIA DE PETROLEOS,179.410256
All,"Total, number and mean",4 programs,192.299844

INGENIERIA CIVIL

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,INGENIERIA CIVIL,210.388158
1,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,INGENIERIA CIVIL,209.056911
2,UNIVERSIDAD NACIONAL DE COLOMBIA-MEDELLIN,INGENIERIA CIVIL,203.660000
3,UNIVERSIDAD EIA-MEDELLIN,INGENIERIA CIVIL,202.755556
4,UNIVERSIDAD CATOLICA DE COLOMBIA-BOGOTÁ D.C.,INGENIERIA CIVIL,200.000000
5,UNIVERSIDAD NACIONAL DE COLOMBIA-MANIZALES,INGENIERIA CIVIL,198.113402
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,INGENIERIA CIVIL,182.507937
All,"Total, number and mean",56 programs,176.171887

LICENCIATURA EN MATEMATICAS

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DEL VALLE-CALI,LICENCIATURA EN MATEMATICAS,195.333333
1,UNIVERSIDAD PEDAGOGICA Y TECNOLOGICA DE COLOMB...,LICENCIATURA EN MATEMATICAS,186.000000
2,UNIVERSIDAD PEDAGOGICA NACIONAL-BOGOTÁ D.C.,LICENCIATURA EN MATEMATICAS,184.500000
3,UNIVERSIDAD DE NARIÑO-PASTO,LICENCIATURA EN MATEMATICAS,181.142857
4,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,LICENCIATURA EN MATEMATICAS,175.333333
5,UNIVERSIDAD DE CUNDINAMARCA-UDEC-FUSAGASUGA,LICENCIATURA EN MATEMATICAS,171.181818
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,LICENCIATURA EN MATEMATICAS,163.085714
All,"Total, number and mean",17 programs,166.978726

ADMINISTRACION FINANCIERA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE SANTANDER - UDES-BUCARAMANGA,ADMINISTRACION FINANCIERA,160.516129
1,FUNDACION UNIVERSITARIA-CEIPA-SABANETA,ADMINISTRACION FINANCIERA,159.069767
2,UNIVERSIDAD DE IBAGUE-IBAGUE,ADMINISTRACION FINANCIERA,150.583333
3,INSTITUCIÓN UNIVERSITARIA COMFAMILIAR RISARALDA,ADMINISTRACION FINANCIERA,146.625000
4,UNIVERSIDAD DEL TOLIMA-IBAGUE,ADMINISTRACION FINANCIERA,145.914163
5,TECNOLOGICO DE ANTIOQUIA-MEDELLIN,ADMINISTRACION FINANCIERA,143.917293
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,ADMINISTRACION FINANCIERA,127.058824
All,"Total, number and mean",13 programs,142.228528

MATEMÁTICA APLICADA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD SURCOLOMBIANA-NEIVA,MATEMÁTICA APLICADA,162.863636
All,"Total, number and mean",1 programs,162.863636

LICENCIATURA EN EDUCACIÓN  FÍSICA, RECREACIÓN Y DEPORTES

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD SURCOLOMBIANA-NEIVA,"LICENCIATURA EN EDUCACIÓN FÍSICA, RECREACIÓN ...",138.184211
All,"Total, number and mean",1 programs,138.184211

ENFERMERIA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,ENFERMERIA,182.428571
1,UNIVERSIDAD DEL CAUCA-POPAYAN,ENFERMERIA,176.363636
2,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,ENFERMERIA,172.390244
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,ENFERMERIA,169.609756
4,UNIVERSIDAD DEL TOLIMA-IBAGUE,ENFERMERIA,168.285714
5,UNIVERSIDAD PEDAGOGICA Y TECNOLOGICA DE COLOMB...,ENFERMERIA,167.648649
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,ENFERMERIA,156.565217
All,"Total, number and mean",52 programs,147.608339

INGENIERIA ELECTRONICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,INGENIERIA ELECTRONICA,210.708333
1,UNIVERSIDAD DEL VALLE-CALI,INGENIERIA ELECTRONICA,209.333333
2,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,INGENIERIA ELECTRONICA,208.754717
3,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,INGENIERIA ELECTRONICA,202.864865
4,UNIVERSIDAD CATOLICA DE ORIENTE-RIONEGRO,INGENIERIA ELECTRONICA,202.666667
5,UNIVERSIDAD AUTONOMA DE MANIZALES-MANIZALES,INGENIERIA ELECTRONICA,202.571429
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,INGENIERIA ELECTRONICA,190.093023
All,"Total, number and mean",64 programs,171.431275

FISICA

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE LOS ANDES-BOGOTÁ D.C.,FISICA,216.119048
1,UNIVERSIDAD DE ANTIOQUIA-MEDELLIN,FISICA,211.678571
2,UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.,FISICA,210.113636
3,UNIVERSIDAD DEL VALLE-CALI,FISICA,209.666667
4,UNIVERSIDAD DEL QUINDIO-ARMENIA,FISICA,207.600000
5,UNIVERSIDAD INDUSTRIAL DE SANTANDER-BUCARAMANGA,FISICA,186.409091
6,UNIVERSIDAD SURCOLOMBIANA-NEIVA,FISICA,166.266667
All,"Total, number and mean",12 programs,188.733640

LICENCIATURA EN EDUCACION ARTISTICA Y CULTURAL

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD DE SAN BUENAVENTURA-MEDELLIN,LICENCIATURA EN EDUCACION ARTISTICA Y CULTURAL,139.000000
1,FUNDACION UNIVERSITARIA DE POPAYAN-POPAYAN,LICENCIATURA EN EDUCACION ARTISTICA Y CULTURAL,113.000000
2,UNIVERSIDAD SURCOLOMBIANA-NEIVA,LICENCIATURA EN EDUCACION ARTISTICA Y CULTURAL,107.000000
All,"Total, number and mean",3 programs,119.666667

In [4]:
# if there is not in the k, then add to the last row with the corresponding index.

In [5]:
# Testing fucntion
var_institution = 'INST_NOMBRE_INSTITUCION'
var_program_name = 'ESTU_PRGM_ACADEMICO'
field = 'MOD_RAZONA_CUANTITAT_PUNT'  # test name
var_filter= 'PUBLICIDAD'
university='UNIVERSIDAD CENTRAL-BOGOTÁ D.C.'
k = 5 # number of program to top
df = df = pd.read_csv('Genericas2020.txt', sep='¬', encoding='utf8', quotechar="'")
ranking = top_programs(df, var_institution, var_program_name, var_filter, field,  k=6, university=university)

<ipython-input-5-426e625bda54>:8: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df = df = pd.read_csv('Genericas2020.txt', sep='¬', encoding='utf8', quotechar="'")

In [7]:
ranking[0:4]

,INST_NOMBRE_INSTITUCION,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT mean
0,UNIVERSIDAD PONTIFICIA BOLIVARIANA-MEDELLIN,PUBLICIDAD,158.680851
1,"FUNDACION UNIVERSIDAD DE BOGOTA""JORGE TADEO LO...",PUBLICIDAD,154.494737
2,INSTITUCION UNIVERSITARIA LATINA - UNILATINA-B...,PUBLICIDAD,154.086957
3,UNIVERSITARIA VIRTUAL INTERNACIONAL-BOGOTÁ D.C.,PUBLICIDAD,152.266667